[submodule "qemu-tcti"]
	path = qemu-tcti
	url = https://github.com/tctiSH/qemu.git
[submodule "third-party/SwiftTerm"]
	path = third-party/SwiftTerm
	url = https://github.com/tctiSH/SwiftTerm.git
[submodule "roms/u-boot"]
    path = qemu-tcti/roms/u-boot
    url = https://github.com/qemu/u-boot.git

[submodule "roms/u-boot-sam460ex"]
    path = qemu-tcti/roms/u-boot-sam460ex
    url = https://github.com/qemu/u-boot-sam460ex.git
